# Google AI (FREE - get from https://aistudio.google.com)
GEMINI_API_KEY=AIzaSyDGysaJA7q-zIxdif6QxUeI-MyRBEZolrk

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fte_db
POSTGRES_USER=fte_user
POSTGRES_PASSWORD=changeme123

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Gmail (FREE - use App Password, NOT your real password)
GMAIL_ADDRESS=your.email@gmail.com
GMAIL_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx

# Meta WhatsApp Cloud API (FREE tier)
WHATSAPP_TOKEN=EAA9B5hf0DksBQ3fOXmTgZAyfZAySUKjeaR8t13UAti8LC07ArGrimoqpX8vLqFRdDDGJ5SVWHs1ghaGOdqd5kInvMSCx9XcxEY8yTatYtrZBSu4Kfbs7GNNAFAHYFVYoKq3YKLfHAQW7Vyo81PIBjSWRM8R56NGPcWLMq3r3PVdK80HBA4QRQZB4IATCF6ZBBHy3lJmGuslQm6vnWPj33aRbZCpH8KLPWnMwWXEK8Y16yZCfKgYZAZAI5LkOFL8WD22s8vUbH5VlhSYZCynBlzAwvt
WHATSAPP_PHONE_NUMBER_ID=927834053755939
WHATSAPP_VERIFY_TOKEN=neha123verify

# App Config
ENVIRONMENT=development
LOG_LEVEL=INFO
MAX_EMAIL_LENGTH=2000
MAX_WHATSAPP_LENGTH=1600
MAX_WEBFORM_LENGTH=1000
